/* FONTS STYLE */

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* PAGE ANIMATION STYLE */

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);

    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);

    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);

    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);

    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);

    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);

    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);

    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);

    animation-timing-function: ease-out;
  }
}

@keyframes color-change {
  0% {
    background-color: rgb(255, 78, 80);
  }
  100% {
    background-color: rgba(255, 78, 81, 0.7);
  }
}

/* PAGE STYLE */

:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --main-color: #ffffff;
  --secondary-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER STYLE */

.container {
  width: 320px;
  margin: 0 auto;
}
.header {
  background-color: rgb(26, 25, 21);
  background-image: url(../images/header-image-320.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 38px;
  padding-bottom: 138px;
  text-align: center;
}
.header-logo {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}
.header__list {
  display: flex;
  justify-content: center;
  margin-bottom: 112px;
}

.header__list-item-btn {
  border: transparent;
  background: none;
  font-size: 0.875rem;
  color: var(--main-color);
  font-weight: bold;
  width: 94px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.header__list-item-btn:hover {
  border: solid 2px rgb(255, 255, 255);

  transition: 0.2s;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

.header__name {
  margin: 0;
  font-size: 1.875rem;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
}

.header__name-wrapper {
  width: 295px;
  margin: 0 auto;
  margin-bottom: 11px;
}

.header__description {
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  color: var(--main-color);
  margin: 0 auto;
}

.header__description-wrapper {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.find__btn {
  font-size: 0.875rem;
  color: var(--main-color);
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  border-style: none;
  cursor: pointer;

  animation: color-change 1s linear infinite alternate both;
}

/* PARTNERS STYLE */

.partners {
  padding-top: 70px;
  padding-bottom: 57px;
}

.partners-header {
  font-size: 1.375rem;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.partners__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__list-item {
  width: 220px;
  text-align: center;
  margin-bottom: 25px;
}
.partners__list-item-photo {
  border-radius: 50%;
}
.partners__list-img-wrapper-tv,
.partners__list-img-wrapper-flask,
.partners__list-img-wrapper-hotcup,
.partners__list-img-wrapper-twitter {
  display: inline-block;
  position: relative;
}
.partners__list-img-wrapper-tv::after,
.partners__list-img-wrapper-flask::after,
.partners__list-img-wrapper-hotcup::after,
.partners__list-img-wrapper-twitter::after {
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  border: solid 4px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  width: 29px;
  height: 29px;
  position: absolute;
  bottom: 0;
  right: 0;

  animation: bounce-in-top 1.1s both;
}

.partners__list-img-wrapper-tv::after {
  background-image: url(../images/icons/tv.png);
  background-color: rgb(255, 78, 80);
}
.partners__list-img-wrapper-flask::after {
  background-image: url(../images/icons/flask.png);
  background-color: rgb(255, 165, 7);
}
.partners__list-img-wrapper-hotcup::after {
  background-image: url(../images/icons/hotcup.png);
  background-color: rgb(28, 215, 173);
}
.partners__list-img-wrapper-twitter::after {
  background-image: url(../images/icons/twitter.png);
  background-color: rgb(78, 115, 219);
}

.partners__list-item-name {
  font-size: 0.875rem;
  color: var(--secondary-color);
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.partners__list-item-name-about {
  font-size: 0.875rem;
  font-family: var(--secondary-font);
  color: rgb(102, 102, 102);
}
.partners__btn {
  font-size: 0.875rem;
  color: rgb(255, 78, 80);
  font-weight: bold;
  border: solid 2px rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 280px;
  height: 40px;
  margin: auto;
}
.wrapper-btn {
  text-align: center;
}

/* TABLET @MEDIA */

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header {
    background-image: url(../images/header-image-768.png);
    padding-bottom: 234px;
  }
  .header-logo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 138px;
  }
  .header__list {
    margin-bottom: 0px;
  }
  .header__name {
    font-size: 3.25rem;
  }
  .header__name-wrapper {
    width: 510px;
    margin: 0 auto;
    margin-bottom: 27px;
  }
  .header__description {
    font-size: 1.5rem;
  }
  .header__description-wrapper {
    width: 410px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
  .find__btn {
    width: 226px;
  }
  .partners {
    padding-bottom: 40px;
  }
  .partners-header {
    margin-bottom: 32px;
  }
  .partners__list {
    width: 492px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  .partners__list-item {
    margin: 0;
  }

  .partners__list-item-order2 {
    order: 2;
  }
  .partners__list-item-order3 {
    order: 1;
  }
  .partners__list-item-order4 {
    order: 3;
  }

  .partners__list-item-order1 {
    margin-bottom: 60px;
  }
  .partners__list-item-order3 {
    margin-bottom: 60px;
  }

  .partners__btn {
    width: 193px;
  }
}

/* DESCTOP @MEDIA */

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .header {
    background-image: url(../images/homework-1440.png);
  }
  .header-logo {
    padding-right: 250px;
    padding-left: 250px;
  }
  .partners {
    padding-bottom: 73px;
  }
  .partners__list {
    width: 942px;
  }
}
